body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.hex {
  background: #34415d;
  border: 1px solid #999;
  float: left;
  font-size: 18px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -3px;
  margin-top: -3px;
  padding: 0;
  text-align: center;
  width: 60px;
  height: 70px;
  position: relative;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.ships-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ship {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 2px;
  display: inline-block;
  clip-path: polygon(80% 50%, 25% 75%, 0 50%, 25% 25%);
  background-color: white;
}

.ship.player-0 {
  background-color: white;
}

.ship.player-1 {
  background-color: red;
}

.ship.player-2 {
  background-color: blue;
}

.ship.player-3 {
  background-color: rgb(31, 232, 31);
}

.players-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  position: absolute;  /* Cambiado a absolute para usar left */
  left: 50px;  /* Ajusta según sea necesario */
  top: 10px;   /* Ajusta según sea necesario */
}

.players-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

/*
.players-info {
  position: relative;
  top: 90px;
  left: -430px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}*/

.host-info {
  position: relative;
  top: 40px;
  right: -400px;
  display: flex;
  flex-direction: column;
}

.players-info div {
  margin-bottom: 5px;
}

.host-info div {
  margin-bottom: 5px;
}

.players-info p {
  margin: 0;
}

.host-info p {
  margin: 0;
}



.sector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-up {
  display: block;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: -12px;
}

.row-down {
  display: block;
  justify-content: space-between;
  margin-top: -12px;
  margin-bottom: 20px;
}


.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 150px;
  position: relative;
}

.center-container {
  display: flex;
  align-items: center;
}

.left-sector,
.right-sector {
  margin: 0px;
}

.tri-prime-container {
  margin: 0 20px;
}

/* Cartas */
.cardStyles {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  max-width: 200px;
  overflow: hidden;
}


.buttonStyles {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  margin: 4px;
  font-size: 14px;
  cursor: pointer;
}


.cardsContainerStyle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  max-width: 200px;
  overflow: hidden;
}

.left-card {
  order: 1;
}

.center-card {
  order: 2;
}

.right-card {
  order: 3;
}

.red-text {
  color: red;
}